
.appt-page {
    display: inline-flex;
    height: 4349px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #f5eaeb;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
  }
  
  .appt-page .frame {
    position: relative;
    width: 1440px;
    height: 4656px;
    margin-bottom: -307px;
  }
  
  .appt-page .overlap {
    position: absolute;
    width: 1440px;
    height: 78px;
    top: 0;
    left: 0;
    background-color: #c1373c;
    border-radius: 5px;
  }
  
  .appt-page .overlap-group {
    position: absolute;
    width: 140px;
    height: 51px;
    top: 5px;
    left: 1267px;
    background-size: 100% 100%;
  }
  
  .appt-page .text-wrapper {
    position: absolute;
    width: 105px;
    top: 15px;
    left: 15px;
    font-family: 'Island Moments', cursive;
    font-weight: 400;
    color: #142166;
    font-size: 37px;
    background-color: #fdfafa;
    border: 1px solid black;
    padding: 10px;
    height: 20px; /* Adjust the height as needed */
    line-height: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .appt-page .le-couturier-new {
    position: absolute;
    width: 182px;
    height: 63px;
    top: 12px;
    left: 17px;
    object-fit: cover;
  }
  
  .appt-page .screen-shot {
    position: absolute;
    width: 1430px;
    height: 525px;
    top: 3362px;
    left: 10px;
    object-fit: cover;
  }
  
  .appt-page .div {
    position: absolute;
    width: 1440px;
    height: 809px;
    top: 78px;
    left: 0;
    background-image: url(./img/Appointment.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .appt-page .rectangle {
    position: absolute;
    width: 322px;
    height: 75px;
    top: 31px;
    left: 1078px;
    background-color: #fdfafa;
    border: 1px solid black;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .appt-page .text-wrapper-2 {
    position: absolute;
    top: 40px;
    left: 1083px;
    font-family: 'Island Moments', cursive;
    font-weight: 400;
    color: #142166;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-3 {
    position: absolute;
    width: 642px;
    top: 980px;
    left: 399px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #992c30;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .line {
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 1161px;
    left: 0;
    object-fit: cover;
  }
  
  .appt-page .p {
    position: absolute;
    width: 1231px;
    top: 1184px;
    left: 104px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-2 {
    position: absolute;
    width: 929px;
    height: 163px;
    top: 1279px;
    left: 255px;
  }
  
  .appt-page .rectangle-2 {
    position: absolute;
    width: 929px;
    height: 161px;
    top: 2px;
    left: 0;
    background-color: #d05b5f;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .appt-page .text-wrapper-4 {
    top: 12px;
    left: 35px;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-5 {
    position: absolute;
    width: 373px;
    height: 54px;
    top: 92px;
    left: 26px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .img {
    position: absolute;
    width: 219px;
    height: 147px;
    top: 0;
    left: 710px;
    object-fit: cover;
  }
  
  .appt-page .overlap-3 {
    position: absolute;
    width: 202px;
    height: 177px;
    top: 942px;
    left: 8px;
  }
  
  .appt-page .ellipse {
    top: 0;
    left: 31px;
    position: absolute;
    width: 138px;
    height: 128px;
    object-fit: cover;
  }
  
  .appt-page .text-wrapper-6 {
    position: absolute;
    width: 202px;
    top: 127px;
    left: 0;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-4 {
    position: absolute;
    width: 929px;
    height: 161px;
    top: 1477px;
    left: 255px;
    background-color: #d05b5f;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .appt-page .text-wrapper-7 {
    top: 4px;
    left: 35px;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-8 {
    width: 371px;
    top: 84px;
    left: 35px;
    position: absolute;
    height: 54px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .rectangle-3 {
    position: absolute;
    width: 219px;
    height: 136px;
    top: 17px;
    left: 710px;
    object-fit: cover;
  }
  
  .appt-page .text-wrapper-9 {
    position: absolute;
    width: 172px;
    top: 891px;
    left: 28px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-5 {
    background-color: #d05b5f;
    position: absolute;
    width: 937px;
    height: 169px;
    top: 1673px;
    left: 255px;
    background-image: url(./img/rectangle-6269.svg);
    background-size: 100% 100%;
  }
  
  .appt-page .text-wrapper-10 {
    top: 5px;
    left: 26px;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-11 {
    width: 370px;
    top: 85px;
    left: 35px;
    position: absolute;
    height: 54px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .rectangle-4 {
    position: absolute;
    width: 219px;
    height: 136px;
    top: 13px;
    left: 710px;
    object-fit: cover;
  }
  
  .appt-page .overlap-6 {
    position: absolute;
    width: 929px;
    height: 161px;
    top: 1869px;
    left: 255px;
    background-color: #d05b5f;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .appt-page .text-wrapper-12 {
    top: 2px;
    left: 35px;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-13 {
    width: 372px;
    top: 80px;
    left: 35px;
    position: absolute;
    height: 54px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .ellipse-2 {
    top: 942px;
    left: 1261px;
    position: absolute;
    width: 138px;
    height: 128px;
    object-fit: cover;
  }
  
  .appt-page .text-wrapper-14 {
    position: absolute;
    width: 143px;
    top: 891px;
    left: 1258px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-15 {
    position: absolute;
    width: 202px;
    top: 1072px;
    left: 1229px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-7 {
    position: absolute;
    width: 929px;
    height: 161px;
    top: 2065px;
    left: 255px;
    background-color: #d05b5f;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .appt-page .overlap-8 {
    position: absolute;
    width: 372px;
    height: 126px;
    top: 2px;
    left: 22px;
  }
  
  .appt-page .text-wrapper-16 {
    top: 0;
    left: 0;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-17 {
    width: 372px;
    top: 72px;
    left: 0;
    position: absolute;
    height: 54px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .rectangle-5 {
    position: absolute;
    width: 219px;
    height: 136px;
    top: 0;
    left: 710px;
    object-fit: cover;
  }
  
  .appt-page .overlap-9 {
    position: absolute;
    width: 929px;
    height: 161px;
    top: 2261px;
    left: 255px;
    background-color: #d05b5f;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .appt-page .text-wrapper-18 {
    top: 2px;
    left: 26px;
    position: absolute;
    height: 75px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-19 {
    width: 372px;
    top: 84px;
    left: 22px;
    position: absolute;
    height: 54px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .rectangle-6 {
    position: absolute;
    width: 219px;
    height: 136px;
    top: 9px;
    left: 710px;
    object-fit: cover;
  }
  
  .appt-page .text-wrapper-20 {
    position: absolute;
    width: 700px;
    top: 4025px;
    left: 10px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-21 {
    position: absolute;
    width: 479px;
    top: 4087px;
    left: 10px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .if-you-require {
    position: absolute;
    width: 1080px;
    top: 2472px;
    left: 181px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-22 {
    position: absolute;
    top: 2719px;
    left: 617px;
font-family: 'Italiana', sans-serif;
    font-weight: 400;
    color: #992c30;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .appt-page .text-wrapper-23 {
    position: absolute;
    width: 479px;
    top: 3966px;
    left: 10px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-24 {
    position: absolute;
    width: 479px;
    top: 3907px;
    left: 10px;
font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .contact-fild {
    position: absolute;
    width: 468px;
    height: 480px;
    top: 2831px;
    left: 498px;
  }
  
  .appt-page .div-wrapper {
    position: absolute;
    width: 462px;
    height: 71px;
    top: 0;
    left: 0;
    background-color: #fafbfcf0;
    border-radius: 10px;
  }
  
  .appt-page .text-wrapper-25 {
    position: absolute;
    width: 53px;
    height: 23px;
    top: 25px;
    left: 29px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-10 {
    position: absolute;
    width: 462px;
    height: 71px;
    top: 125px;
    left: 0;
    background-color: #fafbfcf0;
    border-radius: 10px;
  }
  
  .appt-page .text-wrapper-26 {
    position: absolute;
    width: 50px;
    height: 23px;
    top: 25px;
    left: 28px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .overlap-group-2 {
    position: absolute;
    width: 462px;
    height: 229px;
    top: 251px;
    left: 0;
    background-color: #fafbfcf0;
    border-radius: 10px;
  }
  
  .appt-page .text-wrapper-27 {
    position: absolute;
    width: 195px;
    height: 23px;
    top: 25px;
    left: 22px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-28 {
    position: absolute;
    width: 479px;
    top: 3907px;
    left: 960px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-29 {
    position: absolute;
    width: 479px;
    top: 3966px;
    left: 960px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-30 {
    position: absolute;
    width: 479px;
    top: 4024px;
    left: 960px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-31 {
    position: absolute;
    width: 479px;
    top: 4083px;
    left: 961px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-32 {
    position: absolute;
    width: 479px;
    top: 4142px;
    left: 960px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-33 {
    position: absolute;
    width: 479px;
    top: 4201px;
    left: 961px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .appt-page .text-wrapper-34 {
    position: absolute;
    width: 479px;
    top: 4260px;
    left: 960px;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    color: #99382c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  