@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.island-moments {
    font-family: 'Island Moments', sans-serif;
  }
  .italiana{
    font-family: 'Italiana', sans-serif;
  }
  .jacques{
    font-family: 'Jacques Francois', serif;
  }
  .larger-text{
    font-size:2.5rem;
  }

html, body{ 
    box-sizing: border-box;
    height: 100%;
    margin: 0px; 
    width: 100%;
    scroll-behavior: smooth;
    background-color: #F5EAEB;
  
}
main{ 
  display: grid; 
  grid-template-areas: "n n n n n n"
                       "v v v v v v";
  position: relative; 
  background-color: #F5EAEB;
}

header{

    display: flex;
    align-items: center; 
    grid-area: n; 
    justify-content:space-between;
    background-color: #C1373C;
}

#form{ 
  display: flex;
  align-items: center; 
  grid-area: v; 
  justify-content:center;
  flex-direction: column;

}

